
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper h3 {
  opacity: 0.7;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  font-size: 20px;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}


header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 0px;
  margin-left: -180px;
  height: 65px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading1 {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  height: 790px;
}
.heading2 {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  height: 1300px;
}

.heading h2 {
  font-weight: normal;
  font-size: 50px;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
  margin-left:250px; 
}
.lesson-icon1 {
  position: relative;
  margin-left:6px; 
}

.lesson-icon p {
  color: black;
  width: 180px;
  margin-right:150px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
  margin-left: 185px;
}

.heading h3 {
  font-weight: normal;
  font-size:150px;
}

h2{
  text-align: center;
  font-size: 35px;
}
div.gallery {
  border : 1px solid #ccc;
  transition: transform .2s;

  
}
div.gallery : hover{
border :1px solid #777;
-ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
div.galley img{
  width :100%;
  height: auto;
}
.desc  p {
  padding: 2px;
  font-size: 20px;
  padding-left: 10px;

}

*{
  box-sizing: border-box;
}
.responsive{
  padding: 0 6px;
  float : left;
  width: 24.9999%;
  margin-left: 80px;
}
div.shadow{
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

@media only screen and (max-width: 700px){
  .responsive{
    width: 49.9999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px)
{
  .responsive{
    width: 100%;
  }
}
.clearfix : after{
  content: "";
  display: table;
  clear : both;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 25px;
}

footer {
  padding-top: 30px;
  background-color: white;
  position: bottom;
}
.footer1 {
  position: bottom;
  margin-left: 100px;
  margin-bottom: 200px;
}


.cool
{
  size: 5;
  width: 30%;
  color: black;
}


.navbar1 {
  overflow: hidden;
  background-color: #333;
}



.dropdown1 {
  float: left;

  overflow: hidden;
}
.navbar1 a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-top: 28px;

  height: 90px;
  text-decoration: none;
}
.dropdown1 .dropbtn1 {
  font-size: 18px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar1 a:hover, .dropdown1:hover .dropbtn1 {
   background-color: rgba(255, 255, 255, 0.3);
}

.dropdown-content1 {
  display: none;

  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  height: 45px;
  text-align: left;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
